@*Basic*@
<script type="text/html" id="Parameter-NumericParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" data-bind="value:Description" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
        </div>
        
    </div>
</script>

@*Datetime*@
<script type="text/html" id="Parameter-DateTimeParameter">
    <div data-bind="template:{name:'Parameter-NumericParameter',data:$data}"></div>
</script>
@*Datetime Group*@
<script type="text/html" id="Parameter-DateTimeGroupParameter">
    <div data-bind="template:{name:'Parameter-NumericParameter',data:$data}"></div>
</script>
@*String*@
<script type="text/html" id="Parameter-StringParameter">
    <div data-bind="template:{name:'Parameter-NumericParameter',data:$data}"></div>
</script>
@*Definition*@
<script type="text/html" id="Parameter-DefinitionParameter">
    
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Type</label>
                <select class="form-select" data-bind='options:DefinitionAllTypes, optionsText: "Text", optionsValue:"Value",optionsCaption:"Seçiniz",  value:DefinitionType'></select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" data-bind="value:ArrayType" placeholder="Namespace ile giriniz" />
            </div>
        </div>
    </div>
</script>
@*Destination*@
<script type="text/html" id="Parameter-DestinationParameter">
    
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Type</label>
                <select class="form-select" data-bind='options:DestinationAllTypes, optionsText: "Text", optionsValue:"Value",optionsCaption:"Seçiniz",  value:DestinationTypes' multiple></select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Filter</label>
                <input type="text" class="form-control" data-bind="value:Filter" placeholder="JSON format" />
            </div>
        </div>
    </div>
</script>
@*Array*@
<script type="text/html" id="Parameter-ArrayParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" data-bind="value:ArrayType" placeholder="Namespace ile giriniz" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" data-bind="value:Description" />
            </div>
        </div>
    </div>
    <table class="table table-striped bottom-10">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th class="text-end"><button type="button" class="btn btn-sm btn-primary" data-bind="click:Add"><i class="fas fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Data">
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" data-bind="value:Key" placeholder="Key">
                    </div>                
                </td>
                <td>
                    <div class="form-group"><input type="text" class="form-control" data-bind="value:Value" placeholder="Value"></div>
                </td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-danger" data-bind="click:$parent.Remove"><i class="fas fa-times"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</script>

@*ReadOnly*@
<script type="text/html" id="Parameter-ReadonlyParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Değer</label>
                <input type="text" class="form-control" data-bind="value:ReadonlyValue">
            </div>
        </div>
    </div>
</script>

@*List*@
<script type="text/html" id="Parameter-ListParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" data-bind="value:Description" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
        </div>
    </div>
    <table class="table table-striped bottom-10">
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th>Description</th>
                <th>Expression Format</th>
                <th class="text-end"><button type="button" class="btn btn-sm btn-primary" data-bind="click:Add"><i class="fas fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Items">
            <tr>
                <td><input type="text" class="form-control" data-bind="value:Title"></td>
                <td><input type="text" class="form-control" data-bind="value:Value"></td>
                <td><input type="text" class="form-control" data-bind="value:Description"></td>
                <td><input type="text" class="form-control" data-bind="value:ExpressionFormat"></td>
                <td class="text-end"><button type="button" class="btn btn-sm btn-danger" data-bind="click:$parent.Remove"><i class="fas fa-times"></i></button></td>
            </tr>
        </tbody>
    </table>
</script>

@*EqualityList*@
<script type="text/html" id="Parameter-EqualityListParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" data-bind="value:Description" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Symbol</label>
                <input type="text" class="form-control" data-bind="value:Symbol">
            </div>
        </div>
    </div>
    <table class="table table-striped bottom-10">
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th>Description</th>
                <th>Expression Format</th>
                <th class="text-end"><button type="button" class="btn btn-sm btn-primary" data-bind="click:Add"><i class="fas fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Items">
            <tr>
                <td><input type="text" class="form-control" data-bind="value:Title"></td>
                <td><input type="text" class="form-control" data-bind="value:Value"></td>
                <td><input type="text" class="form-control" data-bind="value:Description"></td>
                <td><input type="text" class="form-control" data-bind="value:ExpressionFormat"></td>
                <td class="text-end"><button type="button" class="btn btn-sm btn-danger" data-bind="click:$parent.Remove"><i class="fas fa-times"></i></button></td>
            </tr>
        </tbody>
    </table>
</script>

@*BooleanList*@
<script type="text/html" id="Parameter-BooleanListParameter">
    <div class="row bottom-10">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Başlık</label>
                <input type="text" class="form-control" data-bind="value:Title">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" data-bind="value:Description" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="form-group mb-3">
                <label class="form-label">Display Format</label>
                <input type="text" class="form-control" data-bind="value:DisplayFormat">
            </div>
        </div>
    </div>
    <table class="table table-striped bottom-10">
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th>Description</th>
                <th>Expression Format</th>
                <th class="text-end"><button type="button" class="btn btn-sm btn-primary" data-bind="click:Add"><i class="fas fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Items">
            <tr>
                <td><input type="text" class="form-control" data-bind="value:Title"></td>
                <td><input type="text" class="form-control" data-bind="value:Value"></td>
                <td><input type="text" class="form-control" data-bind="value:Description"></td>
                <td><input type="text" class="form-control" data-bind="value:ExpressionFormat"></td>
                <td class="text-end"><button type="button" class="btn btn-sm btn-danger" data-bind="click:$parent.Remove"><i class="fas fa-times"></i></button></td>
            </tr>
        </tbody>
    </table>
</script>
