@model RuleEngine.Mvc.ViewModels.PredicatePanelViewModel

<style>
    .rule-item .item-handle {
        position: absolute;
        top: 50%;
        z-index: 2;
        cursor: move;
        color: #dc9c9c;
        transform: translateY(-50%);
    }

    .rule-item-sub-group {
        position: relative;
    }

    .rule-item-sub-group {
        margin-left: 30px;
    }

    .rule-container {
        margin-left: 15px;
    }

    .drag-placeholder {
        border: 2px dotted #eaa3a3;
    }

    .rule-item-sub-group .rule-container {
        margin-left: 20px;
    }

    .rule-item .drag-handle {
        position: absolute;
        top: 0;
        left: 10px;
        width: 20px;
        height: 100%;
        background: #F1F2F7;
        cursor: move;
    }

    .metadataselect {
        width: 120px;
    }
    .statement-metadata{
        width:150px !important;
    }
    .parameter-item {
        margin-left: 10px;
    }

    .remove-parameter {
        float: right;
        position: absolute;
        right: -5px;
        top: -9px;
        font-size: 15px;
        cursor: move !important;
    }

        .remove-parameter i {
            color: #e2a9a9;
        }

            .remove-parameter i:hover {
                color: #fd6d6d;
                cursor: pointer;
            }
    .select2-container--open {
        background-color: #FFFEDA;
        width: auto !important;
    }
    .datatable-select .select2-results__option {
        color: #999;
        min-width: 150px !important;
        background-color: #fff;
    }
    
    .icon-cancel:before { content: "✕"; }
    .icon-add_circle:before { content: "+"; }
    .icon-menu:before { content: "☰"; }
    
    .rule-item {
        position: relative;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 15px;
        background: #f9f9f9;
        border-radius: 5px;
    }
    
    .rule-number {
        font-weight: bold;
        color: #333;
    }
    
    .sort-group {
        margin-left: 30px;
    }
    
    .select-wrapper {
        display: inline-block;
        margin-left: 10px;
    }
    
    .crt-rule-btn {
        margin-top: 20px;
    }
</style>

<h2 class="tab-title">@Model.Title</h2>

<div class="row bottom-40" data-bind="with:RuleModel" id="@Model.PredicatePanelId">
    <div data-bind="sortable:{foreach: TreeItems, options: {handle: '.drag-handle', draggable: '.rule-item',animation: 150,onEnd:BindPlugins,ghostClass:'drag-placeholder'}}" class="rules col-lg-12">
        <div class="rule rule-item" data-bind="click:$parent.SetActive">
            <div data-bind="template: { name:TemplateName, data:$data }"> </div>
        </div>
    </div>
    <div class="">
        <a class="btn grd-btn tertiary-action small crt-rule-btn" data-bind="click:Add">Yeni Kural Oluştur</a>
    </div>
</div>

@{
    Html.RenderPartial("_RuleTemplates");
}
