<!-- Rule Templates - Ported from Gordios -->
<script type="text/html" id="RuleTreeStatement">
    <div class="remove-parameter"><i class="icon-cancel" data-bind="click:$parentContext.$parent.Remove"></i></div>
    <div class="drag-handle"><span class="rule-handle item-handle icon-menu"></span></div>
    <div class="sort-group" id="SortGroup1">
        <span class="rule-number" data-bind="contentEditable: true, htmlLazy: Name" contenteditable="true"></span>
        <span class="" data-bind="Text: Name"></span>
        <div data-bind="sortable:{foreach:Children,options:{handle:'.state-handle', draggable:'.rule-item-sub-group',animation:150,onEnd:UpdateSort,OnMove:OnMove,ghostClass:'drag-placeholder',group:'statement'}}">
            <div class="rule-item-sub-group" data-bind="click:$parent.FocusStatement">
                <!-- ko if: Type=='NamedRuleStatement' -->
                <span class="state-handle icon-menu item-handle"></span>
                <!-- /ko -->
                <div class="rule-container" data-bind="template: { name:TemplateName, data:$data }"> </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="NamedRuleStatement">
    <div>
        <a href="#" class="icon-cancel" data-bind="visible:$parentContext.$parent.Children().length>1,click:$parentContext.$parent.Remove"></a>
        <a href="#" class="icon-add_circle" data-bind="visible:($parentContext.$index()==($parentContext.$parent.Children().length-1)), click:$parentContext.$parent.Add"></a>
    </div>
    <div>
        <span>Koşul</span>
        <div class="select-wrapper">
            <select class="form-control custom-select2 metadataselect statement-metadata"
                    data-dropdown-css-class="datatable-select"
                    data-dropdown-auto-width="true"
                    data-bind='options: $root.RuleModel.Metadatas,optionsText: "Title",optionsValue:"Id",optionsCaption:"Seçiniz",value:MetadataId,event:{ change: $parentContext.$parent.Change},attr:{id:StatementKey}'></select>
        </div>
    </div>
    <!-- ko foreach:Parameters-->
    <div data-bind="template: { name:TypeName, data:$data}" class="parameter-item"></div>
    <!-- /ko -->
</script>

<!--AndOrStatement-->
<script type="text/html" id="AndOrStatement">
    <div class="select-wrapper">
        <select class="form-control custom-select2 metadataselect" data-bind='options:Items,optionsText: "Title",optionsValue:"Name",optionsCaption:"Seçiniz",value:Selected,event:{change:Change}' data-dropdown-css-class="datatable-select"></select>
    </div>
</script>

<!--Basic-->
<script type="text/html" id="NumericParameter">
    <span data-bind="text:Title"></span>
    <div style="max-width:120px;">
        <input type="text" class="form-control basic-parameter " data-bind="value:Selected,attr:{id:ElementId}">
    </div>
</script>

<!--Datetime-->
<script type="text/html" id="DateTimeParameter">
    <span data-bind="text:Title"></span>
    <div style="max-width:150px;">
        <input type="text" class="form-control datetime-parameter" data-bind="value:Selected,attr:{id:ElementId}">
    </div>
</script>

<!--String-->
<script type="text/html" id="StringParameter">
    <span data-bind="text:Title"></span>
    <div style="max-width:200px;">
        <input type="text" class="form-control string-parameter" data-bind="value:Selected,attr:{id:ElementId}">
    </div>
</script>

<!--Boolean-->
<script type="text/html" id="BooleanParameter">
    <span data-bind="text:Title"></span>
    <div style="max-width:100px;">
        <input type="checkbox" class="form-control boolean-parameter" data-bind="checked:Selected,attr:{id:ElementId}">
    </div>
</script>

<!-- Result Templates -->
<script type="text/html" id="ResultItemTemplate"> 
    <!-- ko foreach:Children-->
    <h3 data-bind="text:Name,visible:$parent.Children().length>1" style="border-bottom: 1px solid #EEE;"></h3>
    <div class="row bottom-20"> 
        <!-- ko foreach:Parameters -->
            <!-- ko if:TypeName!="ReadonlyParameter" -->  
            <div class="col-lg-6 col-md-6 col-sm-12"> <div data-bind="template: { name:TypeName+'_Result', data:$data}"></div></div>
            <!-- /ko -->  
        <!-- /ko -->  
    </div>
    <!-- /ko --> 
</script> 

<!--Basic-->
<script type="text/html" id="NumericParameter_Result" > 
    <div class="form-group grd-form-group">
        <label class="control-label grd-label" data-bind="text:Title"> </label>
        <input type="text" class="form-control" data-bind="value:Selected">
    </div>
</script>

<!--Datetime-->
<script type="text/html" id="DateTimeParameter_Result">
    <div class="form-group grd-form-group">
        <label class="control-label grd-label" data-bind="text:Title"></label>
        <input type="text" class="form-control datetime-parameter" data-bind="value:Selected,attr:{id:ElementId}">
    </div>  
</script>

<!--String-->
<script type="text/html" id="StringParameter_Result">
    <div class="form-group grd-form-group">
        <label class="control-label grd-label" data-bind="text:Title"></label>
        <input type="text" class="form-control" data-bind="value:Selected,attr:{id:ElementId}">
    </div> 
</script>

<!--Boolean-->
<script type="text/html" id="BooleanParameter_Result">
    <div class="form-group grd-form-group">
        <label class="control-label grd-label" data-bind="text:Title"></label>
        <input type="checkbox" class="form-control" data-bind="checked:Selected,attr:{id:ElementId}">
    </div> 
</script>
